.modal-body h1{
    margin-top: 6px;
font-size:26px;
color:#333;
    margin-bottom: 24px;
font-family: 'Source Sans 3', sans-serif;

}
.modal-body h2{
font-size:14px;
color:#333;
    margin-bottom: 18px;
font-family: 'Source Sans 3', sans-serif;

}
.modal {
    border-radius: unset; 
}
.modal-header {
    border-width: 0;
}
.socialLogin{
    font-size: 14px;
    display: inline-flex;
    margin-bottom: 18px;
    width: 100%;
}
.socialLogin .fbLogin{
width: 170px;
    height: 46px;
    border: 2px solid #3b5998;
    font: 700 14px SourceSansPro;
    color: #3b5998;
    text-transform: uppercase;
    margin-right: 16px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.fbIcon{
    display: inline-block;
    background-image: url(./assets/facebookIcon.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-right: 6px;
    margin-top: 2px;
}
.socialLogin .googleLogin{
border: 2px solid #cf0f0c;
    color: #cf0f0c;
    margin-right: 0;
    background: #fff;
    outline: none;
    width: 170px;
    height: 46px;
    font: 700 14px SourceSansPro;
    text-transform: uppercase;
    margin-right: 16px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.googleIcon{
    display: inline-block;
    background-image: url(./assets/googleIcon.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-right: 6px;
    margin-top: 2px;
}
.fbText,.googleText{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 24px;
font-family: 'Source Sans 3', sans-serif;

}
.orSeperator hr{
    width: 20%;
    display: inline-block;
    size: 2px;
    margin: 9px 0;
}
.orSeperator{
    text-align: center;
    color: #6d6d6d;
    font: 700 10pt Muli;
    margin: 0;
    display: flex;
    justify-content: center;
}
.orText{
margin: 0px 14px;
font-size:13.33px;

}
.signInInput label{
    display: inline-block;
    margin-bottom: 0.5rem;
font-size:13px;
font-family: 'Source Sans 3', sans-serif;
color: #454545;
letter-spacing: 1px;

}
.signInInput label input{
    width: 65%;
    outline: none;
    border: none;
    border-bottom: 1px solid #e3e3e3;
    margin: 20px 0 4px;
    padding-bottom: 1px;
    box-shadow: none;
}
.submitButton input{
background-color: #866528;
    color: #fff;
    width: 170px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 10px;
    margin: 20px 0;
}
.teamsAndServices{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 12px;
}
.teamsAndServices .teamsText{

    color: #6d6d6d;
}
.warningMessageDiv{
margin-top: auto;
    margin-bottom: 37px;
}
.warningMessage{
    border-radius: 4px;
    border: 1px solid #ffedc5;
    background: #fff9ea;
    padding: 10px;
    display: flex;
    align-items: center;
}
.warningText{
margin-left: 12px;
    line-height: 1.3;
}
.warningMessageText{
    font-size: 12px;
}
.teamsAndServices a{
    color: #176d93;
    cursor: pointer;
    margin-left: 3px;
    font-weight: 600;
    text-decoration: none;
}
.bagIcon{
padding-right:0px;
padding-left:0px;
}
.dots{
 text-align:center;
}
.dot {
  height: 7px;
  width: 6px;
  background-color:lightgray;
  border-radius: 50%;
  display: inline-block;
}
.priceDetails,.deliveryDetails{
margin-left:15px;

}
.priceDetails span{
font-family: "Mulish", sans-serif;
    padding-bottom: 3px;
}
.priceDetails span:nth-child(2),span:nth-child(3){
    font-size: small;
}
.priceDetails span:last-child{
    font-size: x-small;
}
.sizeOS{
border:1px solid black;


}
.sizeOS span:last-child{
padding-top:10px;
}
.sizeOS div:first-child{
margin-left:5px;
}
.sizeText{
font-size:12px;
font-family: "Mulish", sans-serif;
    font-weight: 700;
}
.sizeChart{
font-size:10px;
font-family: "Mulish", sans-serif;
}
.borderLine{
border:4px solid #F0F8FF;
}
.deliveryDetails span{
font-family: "Mulish", sans-serif;
font-weight: 600;
}
.deliveryDetails span:last-child{
    font-size: x-small;
    font-family: 'Mulish';
    font-weight: 600;
    text-decoration: unset;
    text-decoration: underline;
}
@media (max-width: 480px) and (min-width:379px) {
  .image {
    margin-left: 4rem;
  }
.heartIcon{
    margin-left: 6rem;
}

}
@media (max-width: 380px) and (min-width:319px) {
  .image {
    margin-left: 1.6rem;
  }
.heartIcon {
    margin-left: 5rem;
  }

}
@media screen and (max-width: 320px) {
  .heartIcon {
    margin-left: 2rem;
  }

}